<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accommodation Database</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#343A40">
    <style>
        #top-search input[type="search"] {
            background-color: #111111;
            color: #FFFFFF;
            border-color: #4b5157;
        }
        input[name="q"]:focus {
            box-shadow: 0 0 0 0.2rem rgba(255,255,255,.5) !important;
            outline-color: #FFFFFF !important;
        }
        #top-search input[type="search"]::placeholder {
            color: #595f66;
        }
        #top-search span {
            background-color: #4b5157;
            border-color: #4b5157;
            color: #FFFFFF;
        }
    </style>
</head>
<body>